<div class="visitor-list">
    <div class="visitor-card">
      <h3>Student Violation</h3>
      <table>
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Violation Date</th>
            <th>Violation Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of service.list" (click)="populateForm(s)">
            <td>{{s.studentId}}</td>
            <td>{{s.studentName}}</td>
            <td>{{s.violationDate}}</td>
            <td>{{s.violationDescription}}</td>
            <td>
              <span class="delete-icon" (click)="onDelete(s.id)">
                <i class="fa-solid fa-trash-can mouse-hover"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
